$background: #ffffff;
$white: #ffffff;
$black: #000000;

$grey50: #d9d9d9;
$grey100: #c4c4c4;
$border: #c4c4c4;
$grey200: #999999;
$disabled: #999999;
$grey300: #212121;
$text: #212121;

$green50: #e2faf1;
$green100: #63d8b1;
$green200: #03ae82;

$red: #ff0000;
$warn: #ff0000;

$yellow: #fae100;
$kakao: #fae100;

$google: #4285f4;
