@font-face {
	font-display: swap;
	font-family: 'Urbanist';
	src: url('./fonts/Urbanist-Black.woff2') format('woff2'),
		url('./fonts/Urbanist-Black.woff') format('woff'),
		url('./fonts/Urbanist-Black.ttf') format('otf');
}

@font-face {
	font-family: 'Regular';
	src: url('./fonts/NotoSansKR-Regular.woff2') format('woff2'),
		url('./fonts/NotoSansKR-Regular.woff') format('woff'),
		url('./fonts/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Regular';
	src: url('./fonts/Urbanist-Regular.woff2') format('woff2'),
		url('./fonts/Urbanist-Regular.woff') format('woff'),
		url('./fonts/Urbanist-Regular.ttf') format('ttf');
	unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
	font-family: 'Medium';
	src: url('./fonts/NotoSansKR-Medium.woff2') format('woff2'),
		url('./fonts/NotoSansKR-Medium.woff') format('woff'),
		url('./fonts/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Medium';
	src: url('./fonts/Urbanist-Medium.woff2') format('woff2'),
		url('./fonts/Urbanist-Medium.woff') format('woff'),
		url('./fonts/Urbanist-Medium.ttf') format('ttf');
	unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
	font-family: 'Bold';
	src: url('./fonts/NotoSansKR-Bold.woff2') format('woff2'),
		url('./fonts/NotoSansKR-Bold.woff') format('woff'),
		url('./fonts/NotoSansKR-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Bold';
	src: url('./fonts/Urbanist-Bold.woff2') format('woff2'),
		url('./fonts/Urbanist-Bold.woff') format('woff'), url('./fonts/Urbanist-Bold.ttf') format('ttf');
	unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
	font-family: 'Black';
	src: url('./fonts/NotoSansKR-Black.woff2') format('woff2'),
		url('./fonts/NotoSansKR-Black.woff') format('woff'),
		url('./fonts/NotoSansKR-Black.otf') format('opentype');
}
@font-face {
	font-family: 'Black';
	src: url('./fonts/Urbanist-Black.woff2') format('woff2'),
		url('./fonts/Urbanist-Black.woff') format('woff'),
		url('./fonts/Urbanist-Black.ttf') format('ttf');
	unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
	font-display: swap;
	font-family: 'MulishMedium';
	src: url('./fonts/Mulish-Medium.woff2') format('woff2'),
		url('./fonts/Mulish-Medium.woff') format('woff'), url('./fonts/Mulish-Medium.ttf') format('ttf');
}
@font-face {
	font-display: swap;
	font-family: 'MulishBold';
	src: url('./fonts/Mulish-Bold.woff2') format('woff2'),
		url('./fonts/Mulish-Bold.woff') format('woff'), url('./fonts/Mulish-Bold.ttf') format('ttf');
}

//https://feel5ny.github.io/2019/09/08/CSS_02/
